@font-face {
  font-family: "OpenSans";
  src: url(OpenSans-Regular.ttf) format("truetype");
}

body {
  font-family: OpenSans;
  background-color: white;
}

#init {
  padding: 50px;
}

#table {
  font-size: 60px;
  user-select: none;
  padding: 0;
  margin: 0;
  margin-left: -10px;
}
.usertable {
  font-size: 40px;
}
td {
  width: 55px;
  line-height: 55px;
  text-align: center;
}
.userNameInTable {
  font-size: 1rem;
  height: 55px;
  line-height: normal;
  padding-bottom: 8px;
  vertical-align: bottom;
}

.flex-container {
  display: flex;
}

.block {
  margin-top: 20px;
  padding: 10px;
}

.left-col {
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
}
.right-col {
  padding: 10px;
  flex-grow: 1;
}

.unselectable {
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  cursor: default;
}

.header {
  padding: 10px;
  padding-left: 50px;
}

.no-warning {
  color: red;
  border-bottom: 1px dotted red;
}

.player {
  padding-left: 50px;
}